.respNav {
    display: none;
}

@media (max-width: 768px) {
    .respNav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 20px;
        z-index: 100;
    }

    .respNavLeft {
        cursor: pointer;
    }

    .respNavRight {
        color: var(--white-color);
        font-size: 28px;
        cursor: pointer;
        transition: opacity 0.5s ease, transform 0.2s ease;
    }

    .respNavRight.faded {
        opacity: 0.8;
    }

    .respNavRight.active {
        transform: rotate(360deg);
    }
}