.training {
    background-color: white;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 80px 180px;
    padding-top: 90px;
    border-radius: 20px;
}

.training h2 {
    color: var(--orange-color);
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.training p {
    color: var(--black-color);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 8px;
}

/* Responsive design */
@media (max-width: 768px) {
    .training {
        padding: 60px 40px;
        margin-top: 100px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .training h2 {
        font-size: 21px;
    }

    .training p {
        font-size: 14.5px;
        margin-bottom: 7px;
    }
}

@media (max-width: 480px) {
    .training {
        padding: 60px 20px 60px 20px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .training h2 {
        font-size: 16px;
    }

    .training p {
        font-size: 12px;
        margin-bottom: 7px;
    }
}